<!DOCTYPE html>
<html lang="en-US">
<head>
	{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"><link rel="icon" href="{%static 'Khales/images/logo1.png' %}">
<title>Khalee´s Shop | Clothing</title>
<link rel='stylesheet' href="{% static 'Khales/css/woocommerce-layout.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'Khales/css/woocommerce-smallscreen.css' %}" type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' href="{% static 'Khales/css/woocommerce.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'Khales/css/font-awesome.min.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'Khales/css/style.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'Khales/css/easy-responsive-shortcodes.css' %}" type='text/css' media='all'/>
</head>
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="{% url 'Inicio' %}" rel="home">Khalee´s Shop</a></h1>
			<h2 class="site-description">Clothing</h2>
		</div>
		<a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'khales/images/user.png' %}" width="1%" height="auto" /><span class="name_user">Bienvenido {{ user.username }}</span>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">

			<ul id="menu-menu-1" class="menu">
				<li></a></li>
				<li><a href="{% url 'Inicio' %}">Ropa</a></li>
				<li><a href="/admin/">Administrador</a></li>
			</ul>
		</div>
		</nav>
		</header>
{% block content %}

{% endblock %}
</div>
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;"> Khalee´s Shop</h1>
			<a target="blank" href="">&copy; Khalee´s Shop | Clothing</a>
		</div>
	</div>
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src="{% static 'Khales/js/jquery.js' %}"></script>
<script src="{% static 'Khales/js/plugins.js' %}"></script>
<script src="{% static 'Khales/js/scripts.js' %}"></script>
<script src="{% static 'Khales/js/masonry.pkgd.min.js' %}"></script>
</body>
</html>